# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea/*
!.idea/scopes

# gradle
build
.gradle

# other
eclipse
fabric/runs
fabric/run
fabric/run2
fabric/server
neoforge/runs
neoforge/run
neoforge/run2
neoforge/server
runs
/CHANGELOG.md
